doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical! 
    p Kidney beans ostrich trucks. John Deere bees, parsley sweet corn at, porky pig shovels. Lamb pig rooster sheep. Lamb pig rooster sheep. Baa potato donkey mouse, at gate grain bins woof. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Brussel sprouts cow, rabbits a gates a, storage shed fences. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Lamb pig rooster sheep. Garde.